#form-horizontal
  .col-sm-3
    = simple_form_for [current_user, @hotel], defaults: {input_html: {class: 'form-control'}} do |f|
      - if @hotel.errors.any?
        #error_explanation
          %h2= "#{pluralize(@hotel.errors.count, "error")} prohibited this hotel from being saved:"
          %ul
            - @hotel.errors.full_messages.each do |msg|
              %li= msg
      = f.input :title, as: :string
      = f.input :room_description, required: false
      = f.input :room_price, as: :decimal
      = f.input :breakfast, as: :boolean, boolean_style: :inline, required: false
      / = f.simple_fields_for @rating do |ratings_form|
      /   = ratings_form.input :rate, collection: Rating::RATING_RANGE, as: :radio_buttons, input_html: {:class => 'radio-inline' }
      /   = ratings_form.input :comment, as: :string, required: false
      = f.button :submit
