#form-horizontal
  .col-sm-3
    = simple_form_for [current_user, @hotel], defaults: {input_html: {class: 'form-control'}} do |f|
      - if @hotel.errors.any?
        #error_explanation
          %h2= "#{pluralize(@hotel.errors.count, "error")} prohibited this hotel from being saved:"
          %ul
            - @hotel.errors.full_messages.each do |msg|
              %li= msg
      = f.input :title, as: :string
      = f.input :room_description, required: false
      = f.input :price_decimal, as: :decimal, required: false, label: 'Room price'
      = f.input :price_currency, collection: Money.currency_codes
      = f.input :breakfast, as: :boolean, boolean_style: :nested, required: false
      = f.label 'Address:'
      .margin-right
        = f.simple_fields_for :address, (@hotel.address || @hotel.build_address) do |ff|
          = render :partial => 'hotels/address_fields', locals: {f: ff}
      = rating_for @hotel, 'general', enable_half: true, half_show: true, disable_after_rate: false
      = f.button :submit
