%h1 Listing hotels

%table
  %thead
    %tr
      %th Title
      %th Breakfast
      %th Room description
      %th Room price
      %th Photo
      %th
      %th
      %th

  %tbody
    - @hotels.each do |hotel|
      %tr
        %td= hotel.title
        %td= hotel.breakfast
        %td= hotel.room_description
        %td= hotel.price_humanize
        - if hotel.photo.url.present?
          %td= image_tag hotel.photo_url, id: 'preview-image', height: '64', width: '64'

        %td= link_to 'Show', hotel
        - if signed_in?
          %td= link_to 'Edit', edit_user_hotel_path(hotel, user_id: current_user.id)
          %td= link_to 'Destroy', user_hotel_path(hotel, user_id: current_user.id), :method => :delete, :data => { :confirm => 'Are you sure?' }

%br
- if signed_in?
  = link_to 'New Hotel', new_user_hotel_path(user_id: current_user.id)
