%p#notice= notice

%p
  %b Title:
  = @hotel.title
%p
  %b Breakfast:
  = @hotel.breakfast
%p
  %b Room description:
  = @hotel.room_description
%p
  %b Room price:
  = @hotel.room_price
%p
  %b Rating:
  = rating_for @hotel, 'general', disable_after_rate: true, imdb_avg: true
%p
  %b Photo:
  = @hotel.photo
- if current_user && current_user.hotels.include?(@hotel)
  = link_to 'Edit', edit_user_hotel_path(@hotel, user_id: current_user.id)
\|
= link_to 'Back', hotels_path
